<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" type="image/png" href="https://www.shareicon.net/data/512x512/2016/07/08/117367_logo_512x512.png"/>

  <title>PaperBlog</title>
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="/css/main.css">
  <link rel="stylesheet" href="/css/schema.css">

</head>

<body>

  <script src="https://unpkg.com/react@16/umd/react.production.min.js"></script>
  <script src="https://unpkg.com/react-dom@16/umd/react-dom.production.min.js"></script>

</body>
