/* CSS declarations go here */
/*body{
  background-image: url("https://hdwallsource.com/img/2016/5/crumpled-paper-texture-wallpaper-49223-50885-hd-wallpapers.jpg");
}*/
/* label focus color */
 .input-field input:focus + label {
   color: #9e9e9e !important;
 }
/* label underline focus color */
.input-field input:focus {
  border-bottom: 1px solid #1f88e5 !important;
  box-shadow: 0 1px 0 0 #1f88e5 !important;
}

.nt-blog-inputs{
    width:100%;
    height:50px;
    color: #001f3f !important;
    background: #fff !important;
    border: solid 2px #001f3f !important;
    border-radius: 2px !important;
    font-weight: 800 !important;
    padding: 6px 10px !important;
    margin-bottom: 10px !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

.nt-blog-inputs:hover {
  box-shadow: 3px 3px 3px 2px rgba(0, 0, 0, 0.41) !important;
  transition: box-shadow 0.3s ease-in-out !important;
}

.btn-nt-blogs{
  border-radius: 0 !important;
  width:100%;
}
.btn-nt-blogs span{
  font-weight:900;
}
.btn-nt-blogs:hover{
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.41) !important;
  transition: box-shadow 0.1s ease-in-out !important;
}
.nt-panel{
  border-radius:1px !important;
  box-shadow: 3px 0px 3px 2px rgba(0, 0, 0, 0.41) !important;
}

.ng-show-form{
  display: block !important;
}

.ng-hide-form{
  display: none !important;
}
.ng-error-input{
  background: #ffa9a9 !important;
}

/*Grids Css*/
* {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  list-style-type: none;
}


.ng-content-categories {
  width: 100%;
  padding:0px;
  margin: 0 auto;
  text-align: center;
}
.recipe {
  background:#f1f1f1;
  max-width:300px;
  height:300px;
  position:relative;
  display:inline-block;
  overflow:hidden;
  cursor: pointer;
  margin:0 50px 50px 0;
  -webkit-border-radius:0 0 2px 2px;
  border-radius:0 0 2px 2px;
  -webkit-box-shadow: 1px 1px 4px rgba(0,0,0,0.3);
  -moz-box-shadow: 1px 1px 4px rgba(0,0,0,0.3);
  box-shadow: 3px 5px 4px rgba(0,0,0,0.3);
}
.image {
  height:250px;
  overflow:hidden;
  position:relative;
}
.image img{
  width:100% !important;
  transition: all 1s ease;
  /*margin-top:-70px;*/
}
.image:hover img{
  transform: scale(1.2) rotate(-3deg);
  -ms-transform: scale(1.2) rotate(-3deg); /* IE 9 */
  -webkit-transform: scale(1.2) rotate(-3deg); /* Safari and Chrome */
}
.fa-heart-o:hover {
  animation-name: pulse;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
  -webkit-animation-name: pulse;
  -webkit-animation-duration: 0.5s;
  -webkit-animation-iteration-count: infinite;
}
.likes {
  width:45px;
  height:35px;
  background:#EC4678;
  opacity: 0.85;
  filter: alpha(opacity=85); /* IE8 and lower */
  zoom: 1; /* set "zoom", "width" or "height" to trigger "hasLayout" in IE 7 and lower */
  font-size:1em;
  color:white;
  text-align: center;
  vertical-align: middle;
  line-height: 35px;
  position:absolute;
  left:0;
  top:20px;
  -webkit-border-radius:0 5px 5px 0px;
  border-radius:0 5px 5px 0px;
  -webkit-box-shadow: 1px 1px 3px rgba(0,0,0,0.4);
  -moz-box-shadow: 1px 1px 3px rgba(0,0,0,0.4);
  box-shadow: 1px 1px 3px rgba(0,0,0,0.4);
  text-shadow: 1px 1px 2px rgba(214, 22, 80, 1);
  border-left:5px dotted #D61650;
}
.name {
  width:100%;
  height:50px;
  background:#3498db;
  opacity: 0.85;
  filter: alpha(opacity=85); /* IE8 and Lower */
  zoom: 1; /* set "zoom", "width" or "height" to trigger "hasLayout" in IE 7 and lower */
  overflow:hidden;
  position:absolute;
  bottom:0;
  text-align: center;
  vertical-align: middle;
  line-height: 50px;
  text-shadow: 1px 1px 2px rgba(51, 145, 135, 1);
  border-bottom:1px dotted #339187;
}

.name h4{
  color:white;
  margin-top:12px;
}
.media {
  width:100%;
  font-size:0.7em;
  color:#777;
  padding:15px;
  text-align: center;
  vertical-align: middle;
  line-height: 20px;
}
.media li {
  display:inline-block;
  padding:0 7px;
}
footer {
  font-size:0.7em;
  color: #339187;
  margin:15px 0 0 0;
}


/* Pulse Animation for Firefox, Opera and Internet Explorer 10 */
@keyframes pulse {
  from {
    transform: scale(1.0);
    opacity: 1.0;
  }
  50% {
    transform: scale(1.2);
    opacity: 1.0;
  }
  to {
    transform: scale(1.0);
    opacity: 1.0;
  }
}
/* Pulse Animation for Google Chrome and Safari */
@-webkit-keyframes pulse {
  from {
    -webkit-transform: scale(1.0);
    opacity: 1.0;
  }
  50% {
    -webkit-transform: scale(1.2);
    opacity: 1.0;
  }
  to {
    -webkit-transform: scale(1.0);
    opacity: 1.0;
  }
}


/*Grids*/
