/*
 *    /$$$$$$   /$$$$$$  /$$   /$$ /$$$$$$$$ /$$      /$$  /$$$$$$        /$$   /$$ /$$$$$$
 *   /$$__  $$ /$$__  $$| $$  | $$| $$_____/| $$$    /$$$ /$$__  $$      | $$  | $$|_  $$_/
 *  | $$  \__/| $$  \__/| $$  | $$| $$      | $$$$  /$$$$| $$  \ $$      | $$  | $$  | $$
 *  |  $$$$$$ | $$      | $$$$$$$$| $$$$$   | $$ $$/$$ $$| $$$$$$$$      | $$  | $$  | $$
 *   \____  $$| $$      | $$__  $$| $$__/   | $$  $$$| $$| $$__  $$      | $$  | $$  | $$
 *   /$$  \ $$| $$    $$| $$  | $$| $$      | $$\  $ | $$| $$  | $$      | $$  | $$  | $$
 *  |  $$$$$$/|  $$$$$$/| $$  | $$| $$$$$$$$| $$ \/  | $$| $$  | $$      |  $$$$$$/ /$$$$$$
 *   \______/  \______/ |__/  |__/|________/|__/     |__/|__/  |__/       \______/ |______/
 *
 *  =========================================================================================
 *
 *  Schema UI Framework
 *
 *  The MIT License (MIT)
 *  Copyright @2014 Dan Malarkey
 *
 *	Permission is hereby granted, free of charge, to any person obtaining a copy
 *	of this software and associated documentation files (the 'Software'), to deal
 *	in the Software without restriction, including without limitation the rights
 *	to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
 *	copies of the Software, and to permit persons to whom the Software is
 *	furnished to do so, subject to the following conditions:
 *
 *	The above copyright notice and this permission notice shall be included in
 *	all copies or substantial portions of the Software.
 *
 *	THE SOFTWARE IS PROVIDED 'AS IS', WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
 *	IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
 *	FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
 *	AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
 *	LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
 *	OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
 *	THE SOFTWARE.
 *
 *  http://opensource.org/licenses/MIT
 *
 *  Design + built by @dan_malarkey and the feature[23] team.
 */
.btn-docs {
  margin-bottom: .5rem;
}
.side-nav {
  padding: 0;
}
.side-nav li {
  display: block;
}
.side-nav li a {
  width: 100%;
  color: #aaaaaa;
  font-weight: 400;
  padding: .25rem .5rem;
  display: block;
  text-decoration: none;
  font-size: 14px;
  font-size: 0.875rem;
}
.side-nav li a:hover {
  background-color: #f9f9f9;
}
.side-nav li a.active {
  background-color: #24cabc;
  color: #ffffff;
}
.nav-header {
  padding: .25rem .5rem;
  color: #000000;
  margin-top: 1rem;
  text-transform: uppercase;
  font-size: 14px;
  font-size: 0.875rem;
}
.doc-list i:before {
  background-color: #24cabc;
  color: #ffffff;
  padding: 10px;
  padding: 0.625rem;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  float: left;
  width: 37px;
  width: 2.3125rem;
  height: 37px;
  height: 2.3125rem;
  text-align: center;
}
.doc-list .col4 {
  margin-bottom: 21px;
  margin-bottom: 1.3125rem;
}
.right-content {
  border-left: 1px solid #eeeeee;
  padding-left: 32px;
  padding-left: 2rem;
}
@media screen and (max-width: 47.9375rem) {
  .right-content {
    border-left: 0;
    padding-left: 0;
  }
}
.btn-group {
  margin-right: 8px;
  margin-bottom: 8px;
}
.alert {
  margin-bottom: 8px;
}
.mobile-nav {
  position: fixed;
  left: 0;
  top: 0;
  background-color: #333333;
  height: 100%;
  z-index: 1100;
  overflow-y: scroll;
  -webkit-box-shadow: 3px 0 5px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 3px 0 5px rgba(0, 0, 0, 0.4);
  box-shadow: 3px 0 5px rgba(0, 0, 0, 0.4);
  width: 240px;
  width: 15rem;
  -webkit-transform: translateX(-245px);
  -moz-transform: translateX(-245px);
  -ms-transform: translateX(-245px);
  -o-transform: translateX(-245px);
  transform: translateX(-245px);
  -webkit-transition: -webkit-transform 0.6s cubic-bezier(0.58, -0.65, 0, 1.67);
  -moz-transition: -webkit-transform 0.6s cubic-bezier(0.58, -0.65, 0, 1.67);
  transition: -webkit-transform 0.6s cubic-bezier(0.58, -0.65, 0, 1.67);
}
.is-open {
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
  animation-direction: normal;
  -webkit-animation-direction: reverse;
  animation-direction: reverse;
}
.mobile-nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.mobile-nav li {
  display: block;
}
li.title {
  padding: 1rem 1.5rem;
  background-color: #222222;
  color: rgba(255, 255, 255, 0.3);
}
.mobile-nav a {
  padding: 1rem 1.5rem;
  display: block;
  text-decoration: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  color: rgba(255, 255, 255, 0.5);
}
.mobile-nav a:hover {
  text-decoration: none;
  background-color: rgba(0, 0, 0, 0.95);
  color: #ffffff;
}
.mobile-nav .active {
  background-color: #24cabc;
  color: #ffffff;
}
.mobile-nav .icons {
  text-align: center;
}
.mobile-nav .icons > a {
  float: left;
  display: inline-block;
}
.mobile-nav .icons a:last-child {
  border-left: 1px solid rgba(0, 0, 0, 0.3);
}
.docs-banner {
  background: #24cabc;
  padding: 6rem 4rem 3rem 4rem;
  text-align: center;
  width: 100%;
}
@media screen and (min-width: 48rem) and (max-width: 61.1875rem) {
  .docs-banner {
    padding: 1rem 0;
  }
}
@media screen and (max-width: 47.9375rem) {
  .docs-banner {
    padding: 1rem 0;
    text-align: left;
    margin-top: 4rem;
    z-index: 1090;
  }
}
.docs-banner h1 {
  color: #ffffff;
  text-align: center;
  font-size: 48px;
  font-size: 3rem;
}
@media screen and (max-width: 47.9375rem) {
  .docs-banner h1 {
    font-size: 36px;
    font-size: 2.25rem;
    text-align: left;
  }
}
.docs-banner h4 {
  color: #ffffff;
  text-align: center;
  padding: 0 25%;
}
@media screen and (min-width: 48rem) and (max-width: 61.1875rem) {
  .docs-banner h4 {
    padding: 0 5%;
  }
}
@media screen and (max-width: 47.9375rem) {
  .docs-banner h4 {
    text-align: left;
    padding: 0;
  }
}
.docs-banner .btn {
  margin-top: 2rem;
}
.docs-banner i:before {
  margin-right: 4px;
  margin-right: 0.25rem;
}
.docs-version {
  background-color: #eeeeee;
  color: #777777;
}
@media screen and (max-width: 47.9375rem) {
  .docs-version p {
    margin: 0;
    padding: 1rem 0;
  }
}
.schema-social-btns {
  float: right;
  padding-top: 1.3rem;
}
.schema-social-btns > li {
  display: inline-block;
  line-height: 1;
  float: right;
}
.schema-social-btns .gh-btn {
  overflow: hidden;
  margin: 0 .5rem;
  display: inline-block;
}
.schema-social-btns .twitter-share-button {
  width: 88px!important;
  margin: 0 .5rem;
}
.schema-social-btns .twitter-follow-button {
  width: 195px!important;
  margin: 0 .5rem;
}
.feature-section.color-bg {
  background-color: #24cabc;
}
.feature-section.color-bg h1,
.feature-section.color-bg h4 {
  color: #ffffff;
}
.feature-section {
  padding: 3rem 0;
  width: 100%;
}
.feature-section .feature-lead {
  font-weight: 400;
  font-size: 16px;
  font-size: 1rem;
  margin-bottom: 6rem;
  padding: 0 14%;
}
@media screen and (max-width: 47.9375rem) {
  .feature-section .feature-lead {
    padding: 0;
    text-align: left;
  }
}
.feature-section img {
  width: 50%;
}
.feature-section-sm {
  padding: 0.5rem 0;
  width: 100%;
}
.feature-section-sm .feature-lead {
  font-weight: 400;
  font-size: 16px;
  font-size: 1rem;
  margin-bottom: 6rem;
  padding: 0 14%;
}
.feature-section-sm img {
  width: 50%;
}
.feature-section-title {
  text-align: center;
  margin-top: 3rem;
}
@media screen and (max-width: 47.9375rem) {
  .feature-section-title {
    text-align: left;
  }
}
@media screen and (max-width: 47.9375rem) {
  .home-files {
    text-align: left;
  }
}
.home-files a {
  margin-right: 8px;
  margin-right: 0.5rem;
}
@media screen and (max-width: 47.9375rem) {
  .home-files a {
    float: left;
    margin-bottom: 1rem;
  }
}
.home-files a:last-child {
  margin-right: 0;
}
.ul-links {
  margin: 6rem 0;
}
@media screen and (max-width: 47.9375rem) {
  .ul-links {
    padding: 2rem 0;
    margin: 0;
  }
}
.ul-links li {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
@media screen and (max-width: 47.9375rem) {
  .ul-links li {
    margin-right: 1rem;
  }
  .ul-links li:last-child {
    margin-right: 0;
  }
}
.ul-links li a {
  color: #ffffff;
  border: none;
  font-weight: 400;
  font-size: 16px;
  font-size: 1rem;
  margin: 0 3rem;
}
@media screen and (max-width: 47.9375rem) {
  .ul-links li a {
    margin: 0;
    font-size: 12px;
    font-size: 0.75rem;
  }
}
footer {
  border-top: 1px solid #eeeeee;
  background-color: #f9f9f9;
  margin-top: 3rem;
  width: 100%;
  float: left;
}
footer p {
  padding: 0 21%;
  margin: 3rem 0;
}
@media screen and (max-width: 47.9375rem) {
  footer p {
    padding: 0 10%;
  }
}
footer ul {
  color: #cccccc;
  text-align: center;
  padding: 0;
  margin-bottom: 3rem;
  clear: both;
}
footer ul li {
  display: inline-block;
  padding: 0 .25rem;
}
@media screen and (max-width: 47.9375rem) {
  footer ul li {
    width: 33.33%;
    float: left;
    text-align: center;
    margin-bottom: 1rem;
  }
}
footer ul li a {
  font-weight: 700;
  border: none;
}
@media screen and (max-width: 47.9375rem) {
  footer ul li a {
    text-align: left;
  }
}
footer .icons {
  padding-bottom: 3rem;
}
footer .icons a {
  margin-right: .5rem;
  color: #aaaaaa;
  padding: 0;
  font-size: 24px;
  font-size: 1.5rem;
}
footer .icons a:last-child {
  margin-right: 0;
}
footer .icons a:hover {
  color: #24cabc;
}
@media screen and (max-width: 47.9375rem) {
  footer nav {
    margin-top: 2rem;
  }
}
.footer-logo {
  font-size: 32px;
  font-size: 2rem;
  font-weight: 700;
  color: #24cabc;
  margin-bottom: 1.5rem;
  margin-top: 3rem;
}
.footer-logo span {
  border: 1px solid #24cabc;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
  padding: 0px 11px;
  background-color: #f9f9f9;
}
code {
  background-color: #f9f9f9;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.45);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.45);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.45);
  border: 1px solid #dddddd;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  font-size: 14px;
  font-size: 0.875rem;
  color: #e74c3c;
  padding: 1px 5px;
  vertical-align: middle;
  margin: 0;
}
code.danger {
  background-color: #e74c3c;
  border-color: #921e12;
  color: #ffffff;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
}
.success-icon {
  color: #2ecc71;
}
.fail-icon {
  color: #e74c3c;
}
.ex-grid {
  background-color: #f9f9f9;
  padding: 8px;
  padding: 0.5rem;
  text-align: center;
  border: 1px solid #eeeeee;
  margin: .5rem 0;
}
.color-box-row {
  display: inline-block;
}
.color-box-row .box {
  width: 75px;
  width: 4.6875rem;
  height: 75px;
  height: 4.6875rem;
  display: inline-block;
  background-color: transparent;
  margin-right: .4rem;
  text-align: center;
}
.color-box-row .base-color {
  background-color: #000000;
  color: #ffffff;
}
.color-box-row .bc222 {
  background-color: #222222;
  color: #ffffff;
}
.color-box-row .bc333 {
  background-color: #333333;
  color: #ffffff;
}
.color-box-row .bc555 {
  background-color: #555555;
  color: #ffffff;
}
.color-box-row .bc777 {
  background-color: #777777;
  color: #ffffff;
}
.color-box-row .bc999 {
  background-color: #999999;
  color: #ffffff;
}
.color-box-row .bcaaa {
  background-color: #aaaaaa;
  color: #ffffff;
}
.color-box-row .bcccc {
  background-color: #cccccc;
  color: #ffffff;
}
.color-box-row .bcddd {
  background-color: #dddddd;
  color: #ffffff;
}
.color-box-row .bceee {
  background-color: #eeeeee;
  color: #ffffff;
}
.color-box-row .bceee {
  background-color: #eeeeee;
  color: #ffffff;
}
.color-box-row .bcfff {
  background-color: #ffffff;
  color: #000000;
}
.color-box-row .primary {
  background-color: #3498db;
  color: #ffffff;
}
.color-box-row .success {
  background-color: #2ecc71;
  color: #ffffff;
}
.color-box-row .info {
  background-color: #24cabc;
  color: #ffffff;
}
.color-box-row .warning {
  background-color: #f39c12;
  color: #ffffff;
}
.color-box-row .danger {
  background-color: #e74c3c;
  color: #ffffff;
}
.style {
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  top: 50%;
  position: relative;
  display: block;
}
#hamburger {
  width: 30px;
  height: 21px;
  position: relative;
  margin: 10px auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
  display: none;
  float: right;
  z-index: 1100;
}
#hamburger span {
  background-color: #ffffff;
  display: block;
  position: absolute;
  height: 2px;
  width: 100%;
  border-radius: 9px;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}
#hamburger span:nth-child(1) {
  top: 0px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}
#hamburger span:nth-child(2) {
  top: 9px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}
#hamburger span:nth-child(3) {
  top: 18px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}
#hamburger.open span:nth-child(1) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  top: -3px;
  left: 0px;
}
#hamburger.open span:nth-child(2) {
  top: 24px;
  position: relative;
  opacity: 0;
}
#hamburger.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 19px;
  left: 0px;
}
body {
  background-color: #ffffff;
  color: #777777;
  font-family: 'Source Sans Pro', 'Helvetica Neue', 'HelveticaNeue', 'Helvetica', 'Arial', sans-serif;
  font-weight: 400;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.3125;
  position: relative;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  /* Fix for webkit rendering */
  -webkit-text-size-adjust: 100%;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.xml {
  font-size: 12px;
}
a {
  color: #808483;
  text-decoration: none;
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  transition: all 0.25s ease;
  font-weight: 700;
}
a:hover {
  color: #24cabc;
  text-decoration: underline;
}
ul,
ol {
  margin-top: 0;
  margin-bottom: 1rem;
}
/* -webkit- */
::selection {
  background-color: #24cabc;
  color: #ffffff;
}
/* fireforx */
::-moz-selection {
  background-color: #24cabc;
  color: #ffffff;
}
hr {
  border-top: 1px solid #eeeeee;
  border-left: none;
  border-right: none;
  border-bottom: none;
  height: 1px;
  margin: 2rem 0;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.sm-hr {
  width: 120px;
  width: 7.5rem;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 1.3125rem 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Source Sans Pro', 'Helvetica Neue', 'HelveticaNeue', 'Helvetica', 'Arial', sans-serif;
  text-rendering: optimizelegibility;
  color: #333333;
  margin-bottom: 0;
  font-weight: 700;
}
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  font-weight: inherit;
  font-family: inherit;
}
h1.title,
h3.title {
  font-family: inherit;
  color: inherit;
}
h1.heading,
h3.heading {
  font-family: inherit;
  color: inherit;
}
h1,
.h1 {
  font-size: 36px;
  font-size: 2.25rem;
  line-height: 1.4;
  font-weight: 300;
}
h2,
.h2 {
  font-size: 31px;
  font-size: 1.9375rem;
  line-height: 1.2;
}
h3,
.h3 {
  font-size: 24px;
  font-size: 1.5rem;
  line-height: 1;
}
h4,
.h4 {
  font-size: 18px;
  font-size: 1.125rem;
  line-height: 1.2;
}
h5,
.h5 {
  font-size: 14px;
  font-size: 0.875rem;
}
h6,
.h6 {
  font-size: 12px;
  font-size: 0.75rem;
  line-height: .875;
}
.subheader {
  color: inherit;
  text-transform: uppercase;
}
/*****************************************************************
*
*  BLOCKQUOTE
*
*****************************************************************/
blockquote,
.blockquote {
  font-family: 'Source Sans Pro', 'Helvetica Neue', 'HelveticaNeue', 'Helvetica', 'Arial', sans-serif;
  font-size: 16px;
  font-size: 1rem;
  margin-top: 10px;
  margin-top: 0.625rem;
  margin-bottom: 10px;
  margin-bottom: 0.625rem;
  margin-left: 50px;
  margin-left: 3.125rem;
  padding-left: 16px;
  padding-left: 1rem;
  border-left: 5px solid #000000;
  font-style: italic;
  width: 600px;
  width: 37.5rem;
}
@media screen and (max-width: 47.9375rem) {
  blockquote,
  .blockquote {
    width: 100%;
    margin-left: 0;
  }
}
blockquote cite,
.blockquote cite {
  font-weight: bold;
}
/*****************************************************************
*
*  Paragraph tags
*
*****************************************************************/
p {
  font-family: 'Source Sans Pro', 'Helvetica Neue', 'HelveticaNeue', 'Helvetica', 'Arial', sans-serif;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.3125;
}
p.lead,
.lead {
  font-size: 21px;
  font-size: 1.3125rem;
  font-weight: bold;
}
button {
  border: none;
}
a.btn-success,
a.btn-warning,
a.btn-info,
a.btn-danger,
a.btn-primary,
a:hover.btn-success,
a:hover.btn-warning,
a:hover.btn-info,
a:hover.btn-danger,
a:hover.btn-primary,
a:hover.btn-success-gradient,
a:hover.btn-primary-gradient,
a:hover.btn-info-gradient,
a:hover.btn-danger-gradient,
a:hover.btn-warning-gradient,
a.btn-warning-outline:hover,
a.btn-info-outline:hover,
a.btn-primary-outline:hover,
a.btn-success-outline:hover,
a.btn-danger-outline:hover,
a:hover.btn-success-outline,
a:hover.btn-info-outline,
a:hover.btn-warning-outline,
a:hover.btn-primary-outline,
.nav > li > a:hover.btn-default-outline,
.nav > li > a:hover.btn-primary-outline,
.nav > li > a:hover.btn-info-outline,
.nav > li > a:hover.btn-success-outline,
.nav > li > a:hover.btn-warning-outline,
.nav > li > a:hover.btn-danger-outline {
  text-decoration: none;
  color: #ffffff;
}
.btn > i:before {
  margin-right: 8px;
  margin-right: 0.5rem;
}
.btn {
  padding: 0.5rem 0.875rem;
  font-size: 1rem;
  line-height: 1.3125;
  border-radius: 6px;
  color: #777777;
  display: inline-block;
  border: 1px solid transparent;
  font-family: 'Source Sans Pro', 'Helvetica Neue', 'HelveticaNeue', 'Helvetica', 'Arial', sans-serif;
  font-weight: 400;
  cursor: pointer;
  text-decoration: none;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.15);
  -webkit-transition: all 0.15s ease;
  -moz-transition: all 0.15s ease;
  transition: all 0.15s ease;
  -webkit-appearance: none;
}
.btn-lg {
  padding: 0.75rem 1.125rem;
  font-size: 1.25rem;
  line-height: 1.70625;
  border-radius: 6px;
}
.btn-sm {
  padding: 0.4rem 0.6rem;
  font-size: 0.875rem;
  line-height: 1rem;
  border-radius: 6px;
}
.btn-pill {
  -webkit-border-radius: 24px;
  -moz-border-radius: 24px;
  -ms-border-radius: 24px;
  -o-border-radius: 24px;
  border-radius: 24px;
}
.btn-link {
  background: transparent;
  background-color: transparent;
  border-color: transparent;
  color: inherit;
  text-shadow: none;
}
.btn-full {
  display: block;
  width: 100%;
}
.btn-white,
a.btn-white {
  color: #24cabc;
  background-color: #ffffff;
  border-color: #ffffff;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
  text-shadow: none;
  text-decoration: none;
  -webkit-transition: all 0.15s ease;
  -moz-transition: all 0.15s ease;
  transition: all 0.15s ease;
  top: 0;
  position: relative;
}
.btn-white:hover,
a.btn-white:hover {
  background-color: #f2f2f2;
  border-color: #f2f2f2;
}
.btn-white:active,
a.btn-white:active {
  color: #24cabc;
  background-color: #e9e9e9;
  border-color: #e9e9e9;
  -webkit-box-shadow: inset 0px 2px 6px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: inset 0px 2px 6px rgba(0, 0, 0, 0.25);
  box-shadow: inset 0px 2px 6px rgba(0, 0, 0, 0.25);
  outline: 0;
}
.btn-white:hover,
a.btn-white:hover {
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.35);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.35);
  background-color: #ffffff;
  top: -1px;
}
.btn-white:active,
a.btn-white:active {
  background-color: #f9f9f9;
  top: 0;
  -webkit-box-shadow: 0 0 0 0;
  -moz-box-shadow: 0 0 0 0;
  box-shadow: 0 0 0 0;
}
a.btn-default,
a:hover.btn-default-gradient {
  color: #777777;
  text-decoration: none;
}
.btn-default,
.nav > li > a.btn-default {
  color: #777777;
  background-color: #ffffff;
  border-color: #cccccc;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  text-shadow: none;
}
.btn-default:hover,
.nav > li > a.btn-default:hover {
  background-color: #f2f2f2;
  border-color: #bfbfbf;
}
.btn-default:active,
.nav > li > a.btn-default:active {
  color: #777777;
  background-color: #e9e9e9;
  border-color: #b6b6b6;
  -webkit-box-shadow: inset 0px 2px 6px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: inset 0px 2px 6px rgba(0, 0, 0, 0.25);
  box-shadow: inset 0px 2px 6px rgba(0, 0, 0, 0.25);
  outline: 0;
}
.btn-default-outline,
.default-outline {
  color: #777777;
  background-color: transparent;
  border-color: #cccccc;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  text-shadow: none;
}
.btn-default-outline:hover,
.default-outline:hover {
  background-color: rgba(0, 0, 0, 0);
  border-color: #bfbfbf;
}
.btn-default-outline:active,
.default-outline:active {
  color: #777777;
  background-color: rgba(0, 0, 0, 0);
  border-color: #b6b6b6;
  -webkit-box-shadow: inset 0px 2px 6px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: inset 0px 2px 6px rgba(0, 0, 0, 0.25);
  box-shadow: inset 0px 2px 6px rgba(0, 0, 0, 0.25);
  outline: 0;
}
.btn-default-outline:hover,
.default-outline:hover {
  border-color: #777777;
  color: #ffffff;
  background-color: #777777;
  text-decoration: none;
}
.btn-default-outline:active,
.default-outline:active {
  -webkit-box-shadow: inset 0px 2px 4px 1px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: inset 0px 2px 4px 1px rgba(0, 0, 0, 0.15);
  box-shadow: inset 0px 2px 4px 1px rgba(0, 0, 0, 0.15);
}
.btn-default-gradient,
.default-gradient {
  background: #cccccc;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #f5f5f5), color-stop(1, #ffffff));
  background: -ms-linear-gradient(bottom, #f5f5f5, #ffffff);
  background: -moz-linear-gradient(center bottom, #f5f5f5 0%, #ffffff 100%);
  background: -o-linear-gradient(#ffffff, #f5f5f5);
  background-image: linear-gradient(top, #f5f5f5, #ffffff);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f5f5f5', GradientType=0);
  border: 1px solid #cccccc;
  text-shadow: 0 1px 0 #ffffff;
}
.btn-default-gradient:hover,
.default-gradient:hover {
  background: #cccccc;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #f5f5f5), color-stop(1, #f5f5f5));
  background: -ms-linear-gradient(bottom, #f5f5f5, #f5f5f5);
  background: -moz-linear-gradient(center bottom, #f5f5f5 0%, #f5f5f5 100%);
  background: -o-linear-gradient(#f5f5f5, #f5f5f5);
  background-image: linear-gradient(top, #f5f5f5, #f5f5f5);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f5f5f5', endColorstr='#f5f5f5', GradientType=0);
  border-color: rgba(0, 0, 0, 0.08);
}
.btn-default-gradient:active,
.default-gradient:active {
  -webkit-box-shadow: inset 0px 2px 4px 1px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: inset 0px 2px 4px 1px rgba(0, 0, 0, 0.15);
  box-shadow: inset 0px 2px 4px 1px rgba(0, 0, 0, 0.15);
}
.btn-primary,
.nav > li > a.btn-primary {
  color: #ffffff;
  background-color: #3498db;
  border-color: #2386c8;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.btn-primary:hover,
.nav > li > a.btn-primary:hover {
  background-color: #258cd1;
  border-color: #2077b2;
}
.btn-primary:active,
.nav > li > a.btn-primary:active {
  color: #ffffff;
  background-color: #2282c1;
  border-color: #1d6da3;
  -webkit-box-shadow: inset 0px 2px 6px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: inset 0px 2px 6px rgba(0, 0, 0, 0.25);
  box-shadow: inset 0px 2px 6px rgba(0, 0, 0, 0.25);
  outline: 0;
}
.btn-primary-outline,
.primary-outline {
  color: #3498db;
  background-color: transparent;
  border-color: #3498db;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  text-shadow: none;
}
.btn-primary-outline:hover,
.primary-outline:hover {
  background-color: rgba(0, 0, 0, 0);
  border-color: #258cd1;
}
.btn-primary-outline:active,
.primary-outline:active {
  color: #3498db;
  background-color: rgba(0, 0, 0, 0);
  border-color: #2282c1;
  -webkit-box-shadow: inset 0px 2px 6px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: inset 0px 2px 6px rgba(0, 0, 0, 0.25);
  box-shadow: inset 0px 2px 6px rgba(0, 0, 0, 0.25);
  outline: 0;
}
.btn-primary-outline:hover,
.primary-outline:hover {
  border-color: rgba(0, 0, 0, 0.08);
  color: #ffffff;
  background-color: #3498db;
}
.btn-primary-outline:active,
.primary-outline:active {
  -webkit-box-shadow: inset 0px 2px 4px 1px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: inset 0px 2px 4px 1px rgba(0, 0, 0, 0.15);
  box-shadow: inset 0px 2px 4px 1px rgba(0, 0, 0, 0.15);
}
.btn-primary-gradient,
.primary-gradient {
  background: #3498db;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #2b94d9), color-stop(1, #8bc4ea));
  background: -ms-linear-gradient(bottom, #2b94d9, #8bc4ea);
  background: -moz-linear-gradient(center bottom, #2b94d9 0%, #8bc4ea 100%);
  background: -o-linear-gradient(#8bc4ea, #2b94d9);
  background-image: linear-gradient(top, #2b94d9, #8bc4ea);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#8bc4ea', endColorstr='#2b94d9', GradientType=0);
  color: #ffffff;
  border: 1px solid #3498db;
}
.btn-primary-gradient:hover,
.primary-gradient:hover {
  background: #3498db;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #3498db), color-stop(1, #3498db));
  background: -ms-linear-gradient(bottom, #3498db, #3498db);
  background: -moz-linear-gradient(center bottom, #3498db 0%, #3498db 100%);
  background: -o-linear-gradient(#3498db, #3498db);
  background-image: linear-gradient(top, #3498db, #3498db);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3498db', endColorstr='#3498db', GradientType=0);
  border-color: rgba(0, 0, 0, 0.08);
}
.btn-primary-gradient:active,
.primary-gradient:active {
  -webkit-box-shadow: inset 0px 2px 4px 1px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: inset 0px 2px 4px 1px rgba(0, 0, 0, 0.15);
  box-shadow: inset 0px 2px 4px 1px rgba(0, 0, 0, 0.15);
}
.btn-danger,
.nav > li > a.btn-danger {
  color: #ffffff;
  background-color: #e74c3c;
  border-color: #e32f1c;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.btn-danger:hover,
.nav > li > a.btn-danger:hover {
  background-color: #e43725;
  border-color: #cd2a19;
}
.btn-danger:active,
.nav > li > a.btn-danger:active {
  color: #ffffff;
  background-color: #dd2d1b;
  border-color: #bd2717;
  -webkit-box-shadow: inset 0px 2px 6px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: inset 0px 2px 6px rgba(0, 0, 0, 0.25);
  box-shadow: inset 0px 2px 6px rgba(0, 0, 0, 0.25);
  outline: 0;
}
.btn-danger-outline,
.danger-outline {
  color: #e74c3c;
  background-color: transparent;
  border-color: #e74c3c;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  text-shadow: none;
}
.btn-danger-outline:hover,
.danger-outline:hover {
  background-color: rgba(0, 0, 0, 0);
  border-color: #e43725;
}
.btn-danger-outline:active,
.danger-outline:active {
  color: #e74c3c;
  background-color: rgba(0, 0, 0, 0);
  border-color: #dd2d1b;
  -webkit-box-shadow: inset 0px 2px 6px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: inset 0px 2px 6px rgba(0, 0, 0, 0.25);
  box-shadow: inset 0px 2px 6px rgba(0, 0, 0, 0.25);
  outline: 0;
}
.btn-danger-outline:hover,
.danger-outline:hover {
  border-color: rgba(0, 0, 0, 0.08);
  color: #ffffff;
  background-color: #e74c3c;
}
.btn-danger-outline:active,
.danger-outline:active {
  -webkit-box-shadow: inset 0px 2px 4px 1px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: inset 0px 2px 4px 1px rgba(0, 0, 0, 0.15);
  box-shadow: inset 0px 2px 4px 1px rgba(0, 0, 0, 0.15);
}
.btn-danger-gradient,
.danger-gradient {
  background: #e74c3c;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #e64433), color-stop(1, #f29f97));
  background: -ms-linear-gradient(bottom, #e64433, #f29f97);
  background: -moz-linear-gradient(center bottom, #e64433 0%, #f29f97 100%);
  background: -o-linear-gradient(#f29f97, #e64433);
  background-image: linear-gradient(top, #e64433, #f29f97);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f29f97', endColorstr='#e64433', GradientType=0);
  color: #ffffff;
  border: 1px solid #e74c3c;
}
.btn-danger-gradient:hover,
.danger-gradient:hover {
  background: #e74c3c;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #e74c3c), color-stop(1, #e74c3c));
  background: -ms-linear-gradient(bottom, #e74c3c, #e74c3c);
  background: -moz-linear-gradient(center bottom, #e74c3c 0%, #e74c3c 100%);
  background: -o-linear-gradient(#e74c3c, #e74c3c);
  background-image: linear-gradient(top, #e74c3c, #e74c3c);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e74c3c', endColorstr='#e74c3c', GradientType=0);
  border-color: rgba(0, 0, 0, 0.08);
}
.btn-danger-gradient:active,
.danger-gradient:active {
  -webkit-box-shadow: inset 0px 2px 4px 1px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: inset 0px 2px 4px 1px rgba(0, 0, 0, 0.15);
  box-shadow: inset 0px 2px 4px 1px rgba(0, 0, 0, 0.15);
}
.btn-info,
.nav > li > a.btn-info {
  color: #ffffff;
  background-color: #24cabc;
  border-color: #1faca0;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.btn-info:hover,
.nav > li > a.btn-info:hover {
  background-color: #20b4a8;
  border-color: #1b968c;
}
.btn-info:active,
.nav > li > a.btn-info:active {
  color: #ffffff;
  background-color: #1da59a;
  border-color: #18877e;
  -webkit-box-shadow: inset 0px 2px 6px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: inset 0px 2px 6px rgba(0, 0, 0, 0.25);
  box-shadow: inset 0px 2px 6px rgba(0, 0, 0, 0.25);
  outline: 0;
}
.btn-info-outline,
.info-outline {
  color: #24cabc;
  background-color: transparent;
  border-color: #24cabc;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  text-shadow: none;
}
.btn-info-outline:hover,
.info-outline:hover {
  background-color: rgba(0, 0, 0, 0);
  border-color: #20b4a8;
}
.btn-info-outline:active,
.info-outline:active {
  color: #24cabc;
  background-color: rgba(0, 0, 0, 0);
  border-color: #1da59a;
  -webkit-box-shadow: inset 0px 2px 6px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: inset 0px 2px 6px rgba(0, 0, 0, 0.25);
  box-shadow: inset 0px 2px 6px rgba(0, 0, 0, 0.25);
  outline: 0;
}
.btn-info-outline:hover,
.info-outline:hover {
  border-color: rgba(0, 0, 0, 0.08);
  color: #ffffff;
  background-color: #24cabc;
}
.btn-info-outline:active,
.info-outline:active {
  -webkit-box-shadow: inset 0px 2px 4px 1px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: inset 0px 2px 4px 1px rgba(0, 0, 0, 0.15);
  box-shadow: inset 0px 2px 4px 1px rgba(0, 0, 0, 0.15);
}
.btn-info-gradient,
.info-gradient {
  background: #24cabc;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #22c1b4), color-stop(1, #6fe5db));
  background: -ms-linear-gradient(bottom, #22c1b4, #6fe5db);
  background: -moz-linear-gradient(center bottom, #22c1b4 0%, #6fe5db 100%);
  background: -o-linear-gradient(#6fe5db, #22c1b4);
  background-image: linear-gradient(top, #22c1b4, #6fe5db);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#6fe5db', endColorstr='#22c1b4', GradientType=0);
  color: #ffffff;
  border: 1px solid #24cabc;
}
.btn-info-gradient:hover,
.info-gradient:hover {
  background: #24cabc;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #24cabc), color-stop(1, #24cabc));
  background: -ms-linear-gradient(bottom, #24cabc, #24cabc);
  background: -moz-linear-gradient(center bottom, #24cabc 0%, #24cabc 100%);
  background: -o-linear-gradient(#24cabc, #24cabc);
  background-image: linear-gradient(top, #24cabc, #24cabc);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#24cabc', endColorstr='#24cabc', GradientType=0);
  border-color: rgba(0, 0, 0, 0.08);
}
.btn-info-gradient:active,
.info-gradient:active {
  -webkit-box-shadow: inset 0px 2px 4px 1px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: inset 0px 2px 4px 1px rgba(0, 0, 0, 0.15);
  box-shadow: inset 0px 2px 4px 1px rgba(0, 0, 0, 0.15);
}
.btn-warning,
.nav > li > a.btn-warning {
  color: #ffffff;
  background-color: #f39c12;
  border-color: #d6880b;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.btn-warning:hover,
.nav > li > a.btn-warning:hover {
  background-color: #e08e0b;
  border-color: #be780a;
}
.btn-warning:active,
.nav > li > a.btn-warning:active {
  color: #ffffff;
  background-color: #cf830a;
  border-color: #ad6e09;
  -webkit-box-shadow: inset 0px 2px 6px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: inset 0px 2px 6px rgba(0, 0, 0, 0.25);
  box-shadow: inset 0px 2px 6px rgba(0, 0, 0, 0.25);
  outline: 0;
}
.btn-warning-outline,
.warning-outline {
  color: #f39c12;
  background-color: transparent;
  border-color: #f39c12;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  text-shadow: none;
}
.btn-warning-outline:hover,
.warning-outline:hover {
  background-color: rgba(0, 0, 0, 0);
  border-color: #e08e0b;
}
.btn-warning-outline:active,
.warning-outline:active {
  color: #f39c12;
  background-color: rgba(0, 0, 0, 0);
  border-color: #cf830a;
  -webkit-box-shadow: inset 0px 2px 6px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: inset 0px 2px 6px rgba(0, 0, 0, 0.25);
  box-shadow: inset 0px 2px 6px rgba(0, 0, 0, 0.25);
  outline: 0;
}
.btn-warning-outline:hover,
.warning-outline:hover {
  border-color: rgba(0, 0, 0, 0.08);
  color: #ffffff;
  background-color: #f39c12;
}
.btn-warning-outline:active,
.warning-outline:active {
  -webkit-box-shadow: inset 0px 2px 4px 1px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: inset 0px 2px 4px 1px rgba(0, 0, 0, 0.15);
  box-shadow: inset 0px 2px 4px 1px rgba(0, 0, 0, 0.15);
}
.btn-warning-gradient,
.warning-gradient {
  background: #f39c12;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #ef970c), color-stop(1, #f8c573));
  background: -ms-linear-gradient(bottom, #ef970c, #f8c573);
  background: -moz-linear-gradient(center bottom, #ef970c 0%, #f8c573 100%);
  background: -o-linear-gradient(#f8c573, #ef970c);
  background-image: linear-gradient(top, #ef970c, #f8c573);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f8c573', endColorstr='#ef970c', GradientType=0);
  color: #ffffff;
  border: 1px solid #f39c12;
}
.btn-warning-gradient:hover,
.warning-gradient:hover {
  background: #f39c12;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #f39c12), color-stop(1, #f39c12));
  background: -ms-linear-gradient(bottom, #f39c12, #f39c12);
  background: -moz-linear-gradient(center bottom, #f39c12 0%, #f39c12 100%);
  background: -o-linear-gradient(#f39c12, #f39c12);
  background-image: linear-gradient(top, #f39c12, #f39c12);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f39c12', endColorstr='#f39c12', GradientType=0);
  border-color: rgba(0, 0, 0, 0.08);
}
.btn-warning-gradient:active,
.warning-gradient:active {
  -webkit-box-shadow: inset 0px 2px 4px 1px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: inset 0px 2px 4px 1px rgba(0, 0, 0, 0.15);
  box-shadow: inset 0px 2px 4px 1px rgba(0, 0, 0, 0.15);
}
.btn-success,
.nav > li > a.btn-success {
  color: #ffffff;
  background-color: #2ecc71;
  border-color: #27af61;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.btn-success:hover,
.nav > li > a.btn-success:hover {
  background-color: #29b765;
  border-color: #239a55;
}
.btn-success:active,
.nav > li > a.btn-success:active {
  color: #ffffff;
  background-color: #26a95d;
  border-color: #1f8b4d;
  -webkit-box-shadow: inset 0px 2px 6px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: inset 0px 2px 6px rgba(0, 0, 0, 0.25);
  box-shadow: inset 0px 2px 6px rgba(0, 0, 0, 0.25);
  outline: 0;
}
.btn-success-outline,
.success-outline {
  color: #2ecc71;
  background-color: transparent;
  border-color: #2ecc71;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  text-shadow: none;
}
.btn-success-outline:hover,
.success-outline:hover {
  background-color: rgba(0, 0, 0, 0);
  border-color: #29b765;
}
.btn-success-outline:active,
.success-outline:active {
  color: #2ecc71;
  background-color: rgba(0, 0, 0, 0);
  border-color: #26a95d;
  -webkit-box-shadow: inset 0px 2px 6px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: inset 0px 2px 6px rgba(0, 0, 0, 0.25);
  box-shadow: inset 0px 2px 6px rgba(0, 0, 0, 0.25);
  outline: 0;
}
.btn-success-outline:hover,
.success-outline:hover {
  border-color: rgba(0, 0, 0, 0.08);
  color: #ffffff;
  background-color: #2ecc71;
}
.btn-success-outline:active,
.success-outline:active {
  -webkit-box-shadow: inset 0px 2px 4px 1px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: inset 0px 2px 4px 1px rgba(0, 0, 0, 0.15);
  box-shadow: inset 0px 2px 4px 1px rgba(0, 0, 0, 0.15);
}
.btn-success-gradient,
.success-gradient {
  background: #2ecc71;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #2cc46c), color-stop(1, #7ee2a8));
  background: -ms-linear-gradient(bottom, #2cc46c, #7ee2a8);
  background: -moz-linear-gradient(center bottom, #2cc46c 0%, #7ee2a8 100%);
  background: -o-linear-gradient(#7ee2a8, #2cc46c);
  background-image: linear-gradient(top, #2cc46c, #7ee2a8);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#7ee2a8', endColorstr='#2cc46c', GradientType=0);
  color: #ffffff;
  border: 1px solid #2ecc71;
}
.btn-success-gradient:hover,
.success-gradient:hover {
  background: #2ecc71;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #2ecc71), color-stop(1, #2ecc71));
  background: -ms-linear-gradient(bottom, #2ecc71, #2ecc71);
  background: -moz-linear-gradient(center bottom, #2ecc71 0%, #2ecc71 100%);
  background: -o-linear-gradient(#2ecc71, #2ecc71);
  background-image: linear-gradient(top, #2ecc71, #2ecc71);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#2ecc71', endColorstr='#2ecc71', GradientType=0);
  border-color: rgba(0, 0, 0, 0.08);
}
.btn-success-gradient:active,
.success-gradient:active {
  -webkit-box-shadow: inset 0px 2px 4px 1px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: inset 0px 2px 4px 1px rgba(0, 0, 0, 0.15);
  box-shadow: inset 0px 2px 4px 1px rgba(0, 0, 0, 0.15);
}
[class^="col"] {
  float: left;
  min-height: 1px;
  margin-left: 20px;
  margin-left: 1.25rem;
}
@media screen and (max-width: 47.9375rem) {
  [class^="col"] {
    float: none;
    width: 100%;
    margin-left: 0;
  }
}
@media screen and (min-width: 75rem) {
  [class^="col"] {
    margin-left: 30px;
    margin-left: 1.875rem;
  }
}
.row {
  margin-left: -20px;
  margin-left: -1.25rem;
  *zoom: 1;
}
@media screen and (min-width: 75rem) {
  .row {
    margin-left: -30px;
    margin-left: -1.875rem;
    *zoom: 1;
  }
}
@media screen and (max-width: 47.9375rem) {
  .row {
    margin-left: 0px;
    margin-left: 0rem;
  }
}
.row:before,
.row:after {
  display: table;
  line-height: 0;
  content: "";
}
.row:after {
  clear: both;
}
.container {
  width: 940px;
  width: 58.75rem;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (max-width: 47.9375rem) {
  .container {
    width: 90%;
    float: none;
  }
}
@media screen and (min-width: 48rem) and (max-width: 61.1875rem) {
  .container {
    width: 724px;
    width: 45.25rem;
  }
}
@media screen and (min-width: 75rem) {
  .container {
    width: 1170px;
    width: 73.125rem;
  }
}
.col12 {
  width: 940px;
  width: 58.75rem;
}
@media screen and (min-width: 75rem) {
  .col12 {
    width: 1170px;
    width: 73.125rem;
  }
}
@media screen and (min-width: 48rem) and (max-width: 61.1875rem) {
  .col12 {
    width: 724px;
    width: 45.25rem;
  }
}
@media screen and (max-width: 47.9375rem) {
  .col12 {
    width: 100%;
  }
}
.col11 {
  width: 860px;
  width: 53.75rem;
}
@media screen and (min-width: 75rem) {
  .col11 {
    width: 1070px;
    width: 66.875rem;
  }
}
@media screen and (min-width: 48rem) and (max-width: 61.1875rem) {
  .col11 {
    width: 662px;
    width: 41.375rem;
  }
}
@media screen and (max-width: 47.9375rem) {
  .col11 {
    width: 100%;
  }
}
.col10 {
  width: 780px;
  width: 48.75rem;
}
@media screen and (min-width: 75rem) {
  .col10 {
    width: 970px;
    width: 60.625rem;
  }
}
@media screen and (min-width: 48rem) and (max-width: 61.1875rem) {
  .col10 {
    width: 600px;
    width: 37.5rem;
  }
}
@media screen and (max-width: 47.9375rem) {
  .col10 {
    width: 100%;
  }
}
.col9 {
  width: 700px;
  width: 43.75rem;
}
@media screen and (min-width: 75rem) {
  .col9 {
    width: 870px;
    width: 54.375rem;
  }
}
@media screen and (min-width: 48rem) and (max-width: 61.1875rem) {
  .col9 {
    width: 538px;
    width: 33.625rem;
  }
}
@media screen and (max-width: 47.9375rem) {
  .col9 {
    width: 100%;
  }
}
.col8 {
  width: 620px;
  width: 38.75rem;
}
@media screen and (min-width: 75rem) {
  .col8 {
    width: 770px;
    width: 48.125rem;
  }
}
@media screen and (min-width: 48rem) and (max-width: 61.1875rem) {
  .col8 {
    width: 476px;
    width: 29.75rem;
  }
}
@media screen and (max-width: 47.9375rem) {
  .col8 {
    width: 100%;
  }
}
.col7 {
  width: 540px;
  width: 33.75rem;
}
@media screen and (min-width: 75rem) {
  .col7 {
    width: 670px;
    width: 41.875rem;
  }
}
@media screen and (min-width: 48rem) and (max-width: 61.1875rem) {
  .col7 {
    width: 414px;
    width: 25.875rem;
  }
}
@media screen and (max-width: 47.9375rem) {
  .col7 {
    width: 100%;
  }
}
.col6 {
  width: 460px;
  width: 28.75rem;
}
@media screen and (min-width: 75rem) {
  .col6 {
    width: 570px;
    width: 35.625rem;
  }
}
@media screen and (min-width: 48rem) and (max-width: 61.1875rem) {
  .col6 {
    width: 352px;
    width: 22rem;
  }
}
@media screen and (max-width: 47.9375rem) {
  .col6 {
    width: 100%;
  }
}
.col5 {
  width: 380px;
  width: 23.75rem;
}
@media screen and (min-width: 75rem) {
  .col5 {
    width: 470px;
    width: 29.375rem;
  }
}
@media screen and (min-width: 48rem) and (max-width: 61.1875rem) {
  .col5 {
    width: 290px;
    width: 18.125rem;
  }
}
@media screen and (max-width: 47.9375rem) {
  .col5 {
    width: 100%;
  }
}
.col4 {
  width: 300px;
  width: 18.75rem;
}
@media screen and (min-width: 75rem) {
  .col4 {
    width: 370px;
    width: 23.125rem;
  }
}
@media screen and (min-width: 48rem) and (max-width: 61.1875rem) {
  .col4 {
    width: 228px;
    width: 14.25rem;
  }
}
@media screen and (max-width: 47.9375rem) {
  .col4 {
    width: 100%;
  }
}
.col3 {
  width: 220px;
  width: 13.75rem;
}
@media screen and (min-width: 75rem) {
  .col3 {
    width: 270px;
    width: 16.875rem;
  }
}
@media screen and (min-width: 48rem) and (max-width: 61.1875rem) {
  .col3 {
    width: 166px;
    width: 10.375rem;
  }
}
@media screen and (max-width: 47.9375rem) {
  .col3 {
    width: 100%;
  }
}
.col2 {
  width: 140px;
  width: 8.75rem;
}
@media screen and (min-width: 75rem) {
  .col2 {
    width: 170px;
    width: 10.625rem;
  }
}
@media screen and (min-width: 48rem) and (max-width: 61.1875rem) {
  .col2 {
    width: 104px;
    width: 6.5rem;
  }
}
@media screen and (max-width: 47.9375rem) {
  .col2 {
    width: 100%;
  }
}
.col1 {
  width: 60px;
  width: 3.75rem;
}
@media screen and (min-width: 75rem) {
  .col1 {
    width: 70px;
    width: 4.375rem;
  }
}
@media screen and (min-width: 48rem) and (max-width: 61.1875rem) {
  .col1 {
    width: 42px;
    width: 2.625rem;
  }
}
@media screen and (max-width: 47.9375rem) {
  .col1 {
    width: 100%;
  }
}
.offset12 {
  width: 980px;
  width: 61.25rem;
}
.offset11 {
  width: 900px;
  width: 56.25rem;
}
.offset10 {
  width: 820px;
  width: 51.25rem;
}
.offset9 {
  width: 740px;
  width: 46.25rem;
}
.offset8 {
  width: 660px;
  width: 41.25rem;
}
.offset7 {
  width: 580px;
  width: 36.25rem;
}
.offset6 {
  width: 500px;
  width: 31.25rem;
}
.offset5 {
  width: 420px;
  width: 26.25rem;
}
.offset4 {
  width: 340px;
  width: 21.25rem;
}
.offset3 {
  width: 260px;
  width: 16.25rem;
}
.offset2 {
  width: 180px;
  width: 11.25rem;
}
.offset1 {
  width: 100px;
  width: 6.25rem;
}
@media (min-width: 768px) and (max-width: 979px) {
  .offset12 {
    width: 764px;
    width: 47.75rem;
  }
  .offset11 {
    width: 702px;
    width: 43.875rem;
  }
  .offset10 {
    width: 640px;
    width: 40rem;
  }
  .offset9 {
    width: 578px;
    width: 36.125rem;
  }
  .offset8 {
    width: 516px;
    width: 32.25rem;
  }
  .offset7 {
    width: 454px;
    width: 28.375rem;
  }
  .offset6 {
    width: 392px;
    width: 24.5rem;
  }
  .offset5 {
    width: 330px;
    width: 20.625rem;
  }
  .offset4 {
    width: 268px;
    width: 16.75rem;
  }
  .offset3 {
    width: 206px;
    width: 12.875rem;
  }
  .offset2 {
    width: 144px;
    width: 9rem;
  }
  .offset1 {
    width: 82px;
    width: 5.125rem;
  }
  .row-fluid {
    width: 100%;
    *zoom: 1;
  }
  .row-fluid:after {
    clear: both;
  }
  .row-fluid [class^="col"] {
    display: block;
    float: left;
    width: 100%;
    min-height: 30px;
    margin-left: 2.76%;
    *margin-left: 2.70%;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  .row-fluid [class^="col"]:first-child,
  .row-fluid [class^="col"] [class^="col"]:first-child {
    margin-left: 0;
  }
  .row-fluid .controls-row [class^="col"] + [class^="col"] {
    margin-left: 2.76%;
  }
  .row-fluid .col12 {
    width: 100%;
  }
  .row-fluid .col11 {
    width: 91.43%;
  }
  .row-fluid .col10 {
    width: 82.87%;
  }
  .row-fluid .col9 {
    width: 74.30%;
  }
  .row-fluid .col8 {
    width: 65.74%;
  }
  .row-fluid .col7 {
    width: 57.18%;
  }
  .row-fluid .col6 {
    width: 48.61%;
  }
  .row-fluid .col5 {
    width: 40.05%;
  }
  .row-fluid .col4 {
    width: 31.49;
  }
  .row-fluid .col3 {
    width: 22.92%;
  }
  .row-fluid .col2 {
    width: 14.36%;
  }
  .row-fluid .col1 {
    width: 5.8%;
  }
  .row-fluid .offset12 {
    margin-left: 105.52%;
  }
  .row-fluid .offset12:first-child {
    margin-left: 102.76%;
  }
  .row-fluid .offset11 {
    margin-left: 96.96%;
  }
  .row-fluid .offset11:first-child {
    margin-left: 94.19%;
  }
  .row-fluid .offset10 {
    margin-left: 88.39%;
  }
  .row-fluid .offset10:first-child {
    margin-left: 85.63%;
  }
  .row-fluid .offset9 {
    margin-left: 79.83%;
  }
  .row-fluid .offset9:first-child {
    margin-left: 77.07%;
  }
  .row-fluid .offset8 {
    margin-left: 71.27%;
  }
  .row-fluid .offset8:first-child {
    margin-left: 68.50%;
  }
  .row-fluid .offset7 {
    margin-left: 62.70;
  }
  .row-fluid .offset7:first-child {
    margin-left: 59.94%;
  }
  .row-fluid .offset6 {
    margin-left: 54.148%;
  }
  .row-fluid .offset6:first-child {
    margin-left: 51.38%;
  }
  .row-fluid .offset5 {
    margin-left: 45.58%;
  }
  .row-fluid .offset5:first-child {
    margin-left: 42.81%;
  }
  .row-fluid .offset4 {
    margin-left: 37.01%;
  }
  .row-fluid .offset4:first-child {
    margin-left: 34.25%;
  }
  .row-fluid .offset3 {
    margin-left: 28.45%;
  }
  .row-fluid .offset3:first-child {
    margin-left: 25.69%;
  }
  .row-fluid .offset2 {
    margin-left: 19.88%;
  }
  .row-fluid .offset2:first-child {
    margin-left: 17.12%;
  }
  .row-fluid .offset1 {
    margin-left: 11.32%;
  }
  .row-fluid .offset1:first-child {
    margin-left: 8.56%;
  }
}
@media (min-width: 768px) and (max-width: 979px) and screen and (max-width: 47.9375rem) {
  .row-fluid [class^="col"] {
    margin-left: 0;
  }
}
.row-fluid {
  width: 100%;
  *zoom: 1;
}
.row-fluid:before,
.row-fluid:after {
  display: table;
  line-height: 0;
  content: "";
}
.row-fluid:after {
  clear: both;
}
.row-fluid [class^="col"] {
  display: block;
  float: left;
  width: 100%;
  min-height: 30px;
  margin-left: 2.12%;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.row-fluid [class^="col"]:first-child {
  margin-left: 0;
}
.row-fluid .controls-row [class^="col"] + [class^="col"] {
  margin-left: 2.12%;
}
.row-fluid .col12 {
  width: 100%;
}
.row-fluid .col11 {
  width: 91.48%;
}
.row-fluid .col10 {
  width: 82.97%;
}
.row-fluid .col9 {
  width: 74.46%;
}
.row-fluid .col8 {
  width: 65.95%;
}
.row-fluid .col7 {
  width: 57.44%;
}
.row-fluid .col6 {
  width: 48.93%;
}
.row-fluid .col5 {
  width: 40.42%;
}
.row-fluid .col4 {
  width: 31.91%;
}
.row-fluid .col3 {
  width: 23.40%;
}
.row-fluid .col2 {
  width: 14.895%;
}
.row-fluid .col1 {
  width: 6.38%;
}
.row-fluid .offset12 {
  margin-left: 104.25%;
}
.row-fluid .offset12:first-child {
  margin-left: 102.12%;
}
.row-fluid .offset11 {
  margin-left: 95.74%;
}
.row-fluid .offset11:first-child {
  margin-left: 93.61%;
}
.row-fluid .offset10 {
  margin-left: 87.23%;
}
.row-fluid .offset10:first-child {
  margin-left: 85.10%;
}
.row-fluid .offset9 {
  margin-left: 78.72%;
}
.row-fluid .offset9:first-child {
  margin-left: 76.59%;
}
.row-fluid .offset8 {
  margin-left: 70.21%;
}
.row-fluid .offset8:first-child {
  margin-left: 68.08%;
}
.row-fluid .offset7 {
  margin-left: 61.70%;
}
.row-fluid .offset7:first-child {
  margin-left: 59.57%;
}
.row-fluid .offset6 {
  margin-left: 53.195%;
}
.row-fluid .offset6:first-child {
  margin-left: 51.06%;
}
.row-fluid .offset5 {
  margin-left: 44.68%;
}
.row-fluid .offset5:first-child {
  margin-left: 42.55%;
}
.row-fluid .offset4 {
  margin-left: 36.17%;
}
.row-fluid .offset4:first-child {
  margin-left: 34.04%;
}
.row-fluid .offset3 {
  margin-left: 27.65%;
}
.row-fluid .offset3:first-child {
  margin-left: 25.53%;
}
.row-fluid .offset2 {
  margin-left: 19.14%;
}
.row-fluid .offset2:first-child {
  margin-left: 17.02%;
}
.row-fluid .offset1 {
  margin-left: 10.63%;
}
.row-fluid .offset1:first-child {
  margin-left: 8.51%;
}
@media screen and (max-width: 47.9375rem) {
  .row-fluid {
    width: 100%;
  }
  [class^="col"],
  .uneditable-input[class^="col"],
  .row-fluid [class^="col"] {
    display: block;
    float: none;
    width: 100%;
    margin-left: 0;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
}
[class^="col"].hide,
.row-fluid [class^="col"].hide {
  display: none;
}
[class^="col"].pull-right,
.row-fluid [class^="col"].pull-right {
  float: right;
}
.container {
  margin-right: auto;
  margin-left: auto;
  *zoom: 1;
}
.container:before,
.container:after {
  display: table;
  line-height: 0;
  content: "";
}
.container:after {
  clear: both;
}
.container-fluid {
  padding-right: 20px;
  padding-right: 1.25rem;
  padding-left: 20px;
  padding-left: 1.25rem;
  *zoom: 1;
}
.container-fluid:before,
.container-fluid:after {
  display: table;
  line-height: 0;
  content: "";
}
.container-fluid:after {
  clear: both;
}
.one-half {
  width: 50%;
}
.one-fourth {
  width: 25%;
}
.alert {
  color: inherit;
  border: 1px solid transparent;
  display: block;
  padding: 1rem;
  background-color: #ecfbf2;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
}
.alert > h4 {
  color: inherit;
  margin-top: 0;
}
.alert > p {
  color: inherit;
  margin: 0;
}
.alert i,
.alert .fa {
  float: right;
}
.alert a {
  text-decoration: underline;
}
.alert a:hover {
  text-decoration: none;
}
.alert .btn {
  margin-top: 1.4rem;
}
.alert .fa:before {
  margin-top: 3px;
  display: inline-block;
}
.alert a,
.alert a:hover {
  color: inherit;
  font-weight: bold;
}
.a-is-success {
  color: #25a25a;
  border-color: #2ecc71;
  background-color: #ecfbf2;
}
span.close {
  float: right;
  color: inherit;
  font-weight: bold;
  cursor: pointer;
}
/*------------------------------------*\

    @Tables

\*------------------------------------*/
.table {
  width: 100%;
  max-width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
  display: table;
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  transition: all 0.25s ease;
  color: #777777;
}
.table-bordered {
  border: 1px solid #cccccc;
}
.table-stripe > tbody > tr:nth-child(odd) > td {
  background-color: #f9f9f9;
}
.table-stripe.table-bordered > thead > tr > th {
  background-color: #ffffff;
}
.table.table-condensed > thead > tr > th,
.table.table-condensed > tbody > tr > td {
  padding-top: 0.41666667rem;
  padding-bottom: 0.41666667rem;
  padding-left: 0.66666667rem;
  padding-right: 0.66666667rem;
}
@media screen and (max-width: 47.9375rem) {
  .responsive-table {
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    border: 1px solid #dddddd;
  }
}
.table > tr {
  display: table-row;
  vertical-align: inherit;
  border-color: inherit;
}
.table-bordered > thead > tr > th,
.table-bordered > tbody > tr > td {
  border: 1px solid #cccccc;
}
.table-bordered > thead > tr > th {
  background-color: #f9f9f9;
  box-shadow: inset 0 2px 0 rgba(255, 255, 255, 0.92);
}
.table > thead > tr > th {
  vertical-align: bottom;
  border-bottom: 2px solid #cccccc;
  color: #555555;
}
.table-bordered > thead > tr > th {
  border-bottom-width: 1px;
}
.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
  padding: 0.75rem;
  line-height: 1.3125;
  vertical-align: middle;
  border-top: 1px solid #cccccc;
  text-align: left;
}
.table-hover > tbody > tr:hover,
.table-hover > tfoot > tr:hover,
.table-hover > thead > tr:hover > td,
.table-hover > tbody > tr:hover > td,
.table-hover > tfoot > tr:hover > td,
.table-hover > tbody > tr > td:hover,
.table-hover > tfoot > tr > td:hover {
  background-color: #f9f9f9;
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  transition: all 0.25s ease;
}
.table > caption + thead > tr:first-child > th,
.table > colgroup + thead > tr:first-child > th,
.table > thead:first-child > tr:first-child > th,
.table > caption + thead > tr:first-child > td,
.table > colgroup + thead > tr:first-child > td,
.table > thead:first-child > tr:first-child > td {
  border-top: 0;
}
.table > tbody > tr.is-primary > td,
.table > tbody > tr:hover.is-primary > td {
  background-color: #eaf4fb;
  color: #196090;
}
.table > tbody > tr.is-success > td,
.table > tbody > tr:hover.is-success > td {
  background-color: #e2f8eb;
  color: #1b7943;
}
.table > tbody > tr.is-info > td,
.table > tbody > tr:hover.is-info > td {
  background-color: #d7f8f5;
  color: #15736b;
}
.table > tbody > tr.is-warning > td,
.table > tbody > tr:hover.is-warning > td {
  background-color: #fef5e8;
  color: #976008;
}
.table > tbody > tr.is-danger > td,
.table > tbody > tr:hover.is-danger > td {
  background-color: #fef5f4;
  color: #d62c1a;
}
.ex-form-validate {
  display: inline-block;
  width: 100%;
  margin-bottom: 1rem;
}
input {
  line-height: normal;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  border: 0;
  padding: 0;
}
label {
  font-weight: 700;
  font-family: inherit;
  display: block;
  margin-bottom: 0.5rem;
}
input[type="checkbox"],
input[type="radio"] {
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #cccccc;
  font-size: inherit;
  font-family: 'Source Sans Pro', 'Helvetica Neue', 'HelveticaNeue', 'Helvetica', 'Arial', sans-serif;
}
textarea {
  height: auto;
  resize: none;
}
input[type="radio"],
input[type="checkbox"] {
  margin-top: 1px \9;
  *margin-top: 0;
  line-height: normal;
}
.form-group {
  vertical-align: middle;
  position: relative;
  margin-bottom: 16px;
  margin-bottom: 1rem;
}
.form-element-group,
.form-element-group-lg,
.form-element-group-sm {
  display: inline-table;
  vertical-align: middle;
  position: relative;
  margin-bottom: 16px;
  margin-bottom: 1rem;
}
.form-group::before,
.form-group::after,
.form-element-group::before,
.form-element-group::after {
  clear: both;
  display: table;
  content: "";
}
.form-element {
  background-color: #ffffff;
  display: block;
  width: 100%;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.3125;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
  float: left;
  color: #777777;
  vertical-align: middle;
  font-family: 'Source Sans Pro', 'Helvetica Neue', 'HelveticaNeue', 'Helvetica', 'Arial', sans-serif;
  padding: 0.5rem 0.875rem;
  border: 1px solid #cccccc;
  outline: 0;
  -webkit-appearance: none;
  -webkit-transition: border linear 0.25s, box-shadow linear 0.25s;
  -moz-transition: border linear 0.25s, box-shadow linear 0.25s;
  -o-transition: border linear 0.25s, box-shadow linear 0.25s;
  transition: border linear 0.25s, box-shadow linear 0.25s;
}
.form-element.is-disabled {
  background-color: #eeeeee;
}
.form-element-lg,
.form-element-lg > .form-element,
.form-element-lg > .form-element-extra,
.form-element-group-lg > .form-element,
.form-element-group-lg > .form-element-extra,
.form-element-group-lg > .form-group-btn:first-child > .btn,
.form-element-group-lg > .form-group-btn:last-child > .btn {
  padding: 0.75rem 1.125rem;
  line-height: 1.70625;
  font-size: 1.25rem;
}
.form-element-lg > .form-element.btn-pill,
.form-element-lg > .form-element-extra.btn-pill,
.form-element-group-lg > .form-element.btn-pill,
.form-element-group-lg > .form-element-extra.btn-pill,
.form-element-lg > .form-group-btn:first-child > .btn.btn-pill,
.form-element-lg > .form-group-btn:last-child > .btn.btn-pill .form-element-group-lg > .form-group-btn:first-child > .btn.btn-pill,
.form-element-group-lg > .form-group-btn:last-child > .btn.btn-pill {
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  -ms-border-radius: 60px;
  -o-border-radius: 60px;
  border-radius: 60px;
}
.form-element-sm,
.form-element-sm > .form-element,
.form-element-sm > .form-element-extra,
.form-element-group-sm > .form-element,
.form-element-group-sm > .form-element-extra,
.form-element-sm > .form-group-btn:first-child > .btn,
.form-element-sm > .form-group-btn:last-child > .btn .form-element-group-sm > .form-group-btn:first-child > .btn,
.form-element-group-sm > .form-group-btn:last-child > .btn {
  padding: 0.22857143rem 0.6rem;
  line-height: 1rem;
  font-size: 0.875rem;
}
.form-element:focus,
.input-focus {
  outline: 0;
  outline: thin dotted \9;
  border-color: #24cabc;
  -webkit-box-shadow: 0 0 8px rgba(36, 202, 188, 0.6);
  -moz-box-shadow: 0 0 8px rgba(36, 202, 188, 0.6);
  box-shadow: 0 0 8px rgba(36, 202, 188, 0.6);
}
.form-element-extra,
.form-group-extra,
.form-group-btn {
  display: table-cell;
}
.form-element-extra {
  background-color: #eeeeee;
  border: 1px solid #cccccc;
  padding: 0.5rem 0.875rem;
  font-family: 'Source Sans Pro', 'Helvetica Neue', 'HelveticaNeue', 'Helvetica', 'Arial', sans-serif;
  text-align: center;
  vertical-align: middle;
  z-index: 1000;
  display: table-cell;
  white-space: nowrap;
  width: 1%;
}
.form-element-group > .form-element-extra:first-child,
.form-element-group-lg > .form-element-extra:first-child,
.form-element-group-sm > .form-element-extra:first-child,
.form-element-group > .btn-group > .btn:first-child,
.btn-group > .btn:first-child,
.btn-group-lg > .btn:first-child,
.btn-group-sm > .btn:first-child,
.form-element-group > .btn-group-lg > .btn:first-child,
.form-element-group > .btn-group-sm > .btn:first-child,
.form-element-group > .form-group-btn:first-child > .btn,
.form-element-group-lg > .form-group-btn:first-child > .btn,
.form-element-group-lg > .form-element-extra:first-child,
.form-element-group-lg > .btn-group > .btn:first-child,
.form-element-group-lg > .btn-group-lg > .btn:first-child,
.form-element-group-lg > .btn-group-sm > .btn:first-child,
.pagination > ul > li:first-child > .btn,
.pagination > ul > li:first-child {
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  margin-left: 1px;
}
.form-element-group > .form-element-extra:last-child,
.form-element-group-lg > .form-element-extra:last-child,
.form-element-group-sm > .form-element-extra:last-child,
.form-element-group > .form-group-btn:last-child > .btn,
.form-element-group-lg > .form-group-btn > .btn,
.form-element-group-sm > .form-group-btn > .btn,
.btn-group > .btn:last-child,
.btn-group-lg > .btn:last-child,
.btn-group-sm > .btn:last-child,
.pagination > ul > li:last-child,
.pagination > ul > li:last-child > .btn,
.btn-group > .btn:last-child {
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}
.form-element-group > .form-element-extra:last-child,
.form-element-group-lg > .form-element-extra:last-child,
.form-element-group-sm > .form-element-extra:last-child,
.pagination > ul > li:last-child > .btn {
  border-left: 0;
}
.form-element-group .form-element:last-child,
.form-element-group-lg .form-element:last-child,
.form-element-group-sm .form-element:last-child,
.form-element-element > .form-group-btn:last-child > .btn,
.form-element-group > .form-group-btn > .btn,
.form-element-group-lg > .form-group-btn > .btn,
.form-element-group-sm > .form-group-btn > .btn {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  margin-left: -1px;
}
.form-element-group .form-element:first-child,
.form-element-group-lg .form-element:first-child,
.form-element-group-sm .form-element:first-child,
.form-group-btn:first-child > .btn,
.form-element-group-btn:first-child > .btn {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  margin-right: -1px;
}
.form-group-extra,
.form-group-btn {
  width: 1%;
  vertical-align: middle;
  white-space: nowrap;
}
.btn-group,
.btn-group-lg,
.btn-group-sm,
.pagination > ul > li,
.pagination > ul > li > a {
  float: left;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
}
.pagination > ul {
  padding-left: 0;
}
.pagination > ul > li > a {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border: 1px solid #cccccc;
}
.pagination-gradient > ul > li {
  background: #eeeeee;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #eeeeee), color-stop(1, #ffffff));
  background: -ms-linear-gradient(bottom, #eeeeee, #ffffff);
  background: -moz-linear-gradient(center bottom, #eeeeee 0%, #ffffff 100%);
  background: -o-linear-gradient(#ffffff, #eeeeee);
  background-image: linear-gradient(top, #eeeeee, #ffffff);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#eeeeee', GradientType=0);
}
.pagination > ul > li > a,
.pagination > ul > li > button {
  background-color: transparent;
  background: transparent;
}
.btn-group > .btn,
.btn-group-lg > .btn .btn-group-sm > .btn .pagination > ul > li > a {
  float: left;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
}
.btn-group > .btn + .btn,
.btn-group-lg > .btn + .btn,
.btn-group-sm > .btn + .btn,
.pagination > ul > li > a,
.pagination > ul > li > .btn {
  margin-left: -1px;
}
.pagination > ul > li:first-child > .btn,
.pagination > ul > li:first-child > button {
  margin-left: 0;
}
/* .btn-group > .btn:last-child, */
.pagination > ul > li:last-child > .btn,
.pagination > ul > li:last-child > button {
  margin-left: 0;
}
.btn-group > .btn.active,
.pagination > ul > li.active,
.pagination > ul > li > .active {
  background-color: #24cabc;
  color: #ffffff;
  border-color: #24cabc;
}
/* Pagination Large Size */
.btn-group-lg > .btn,
.pagination-lg > ul > li > a.btn {
  padding: 0.75rem 1.125rem;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  float: left;
  display: inline-block;
}
/* Pagination Small Size */
.btn-group-sm > .btn,
.pagination-sm > ul > li > a.btn {
  padding: 0.4rem 0.6rem;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  float: left;
  display: inline-block;
}
/* Removes the border */
.btn-group.no-b > .btn,
.btn-group-lg.no-b > .btn,
.btn-group-sm.no-b > .btn,
.pagination.no-b > ul > li > .btn,
.list-group.no-b > li,
.list-group.no-b > li > a,
.list-group.no-b > a.list-group-element {
  border: none;
  border-color: transparent;
}
.form-group-btn > button > i:before {
  margin: 0;
}
.has-icon {
  position: relative;
}
.has-icon > .fa {
  position: relative;
  right: 0;
  vertical-align: middle;
  margin-right: 1rem;
  margin-top: .775rem;
  float: right;
  top: -2.45rem;
}
/* =============================================================

EasyDropdown Default Theme.

============================================================= */
/* PREFIXED CSS */
.dropdown,
.dropdown div,
.dropdown li,
.dropdown div::after {
  -webkit-transition: all 150ms ease-in-out;
  -moz-transition: all 150ms ease-in-out;
  -ms-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
}
.dropdown .selected::after,
.dropdown.scrollable div::after {
  -webkit-pointer-events: none;
  -moz-pointer-events: none;
  -ms-pointer-events: none;
  pointer-events: none;
}
/* WRAPPER */
/* Change the background color to whatever you want to match your styles */
.dropdown {
  position: relative;
  width: 160px;
  border: 1px solid #cccccc;
  cursor: pointer;
  background: #ffffff;
  color: #777777;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
.dropdown.open {
  z-index: 2;
}
.dropdown:hover {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}
.dropdown.focus {
  box-shadow: 0 0 5px rgba(51, 102, 248, 0.4);
}
/* CARAT */
/* Change the background color to whatever you want to match your styles */
.dropdown .carat {
  position: absolute;
  right: 12px;
  top: 50%;
  margin-top: -3px;
  border: 6px solid transparent;
  border-top: 6px solid #cccccc;
}
.dropdown.open .carat {
  margin-top: -10px;
  border-top: 6px solid transparent;
  border-bottom: 6px solid #cccccc;
}
/* OLD SELECT (HIDDEN) */
.dropdown .old {
  position: absolute;
  left: 0;
  top: 0;
  height: 0;
  width: 0;
  overflow: hidden;
}
.dropdown select {
  position: absolute;
  left: 0px;
  top: 0px;
}
.dropdown.touch .old {
  width: 100%;
  height: 100%;
}
.dropdown.touch select {
  width: 100%;
  height: 100%;
  opacity: 0;
}
/* SELECTED FEEDBACK ITEM */
.dropdown .selected,
.dropdown li {
  display: block;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1;
  color: inherit;
  padding: 9px 12px;
  overflow: hidden;
  white-space: nowrap;
}
.dropdown .selected::after {
  content: '';
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 60px;
  /* 	box-shadow: inset -55px 0 25px -20px #fff; */
}
/* DROP DOWN WRAPPER */
.dropdown div {
  position: absolute;
  height: 0;
  left: -1px;
  right: -1px;
  top: 100%;
  margin-top: -1px;
  background: #fff;
  border: 1px solid #ccc;
  border-top: 1px solid #eee;
  border-radius: 0 0 6px 6px;
  overflow: hidden;
  opacity: 0;
}
/* Height is adjusted by JS on open */
.dropdown.open div {
  opacity: 1;
  z-index: 2;
}
/* FADE OVERLAY FOR SCROLLING LISTS */
.dropdown.scrollable div::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 50px;
  /* 	box-shadow: inset 0 -50px 30px -35px #fff; */
}
.dropdown.scrollable.bottom div::after {
  opacity: 0;
}
/* DROP DOWN LIST */
.dropdown ul {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  list-style: none;
  overflow: hidden;
  margin: 0;
  padding-left: 0;
}
.dropdown.scrollable.open ul {
  overflow-y: auto;
}
/* DROP DOWN LIST ITEMS */
.dropdown li {
  list-style: none;
  padding: 8px 12px;
  color: #777777;
}
/* .focus class is also added on hover */
/* Change the background color to whatever you want to match your styles */
.dropdown li.focus {
  background: #3498db;
  position: relative;
  z-index: 3;
  color: #ffffff;
}
.dropdown li.active {
  font-weight: 700;
}
.panel {
  margin-bottom: 1rem;
}
.panel {
  border: 1px solid transparent;
  background-color: #ffffff;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
}
.panel-title {
  padding: 1.125rem 0.75rem;
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
  border-bottom: 1px solid transparent;
  font-weight: 700;
}
.panel-body {
  padding: 1.125rem 0.75rem;
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
}
.panel-default {
  border-color: #cccccc;
}
.panel-default > .panel-title {
  background-color: #f9f9f9;
  color: #555555;
  border-bottom-color: #cccccc;
}
.panel-success {
  border-color: #93e7b6;
}
.panel-success > .panel-title {
  background-color: #d8f6e5;
  color: #29b765;
  border-bottom-color: #93e7b6;
}
.panel-info {
  border-color: #84e9e1;
}
.panel-info > .panel-title {
  background-color: #c3f4f0;
  color: #20b4a8;
  border-bottom-color: #84e9e1;
}
.panel-warning {
  border-color: #f9cf8b;
}
.panel-warning > .panel-title {
  background-color: #fdeed7;
  color: #e08e0b;
  border-bottom-color: #f9cf8b;
}
.panel-danger {
  border-color: #f5b4ae;
}
.panel-danger > .panel-title {
  background-color: #fef5f4;
  color: #e43725;
  border-bottom-color: #f5b4ae;
}
.panel-primary {
  border-color: #5faee3;
}
.panel-primary > .panel-title {
  background-color: #f5fafd;
  color: #217dbb;
  border-bottom-color: #5faee3;
}
.panel h1,
.panel h2,
.panel h3,
.panel h4,
.panel h5,
.panel h6 {
  margin-top: 0;
  margin-bottom: 0.4rem;
}
.panel a,
.panel > .btn {
  margin-top: 0.5rem;
  margin-bottom: 0;
}
.panel p {
  margin: 1rem 0 0 0;
}
.badge {
  display: inline-block;
  min-width: 10px;
  min-width: 0.625rem;
  padding: 0.26666667rem 0.6rem;
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1;
  color: #ffffff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  background-color: #777777;
  -webkit-border-radius: 120px;
  -moz-border-radius: 120px;
  -ms-border-radius: 120px;
  -o-border-radius: 120px;
  border-radius: 120px;
}
.badge.success {
  background-color: #2ecc71;
}
.badge.primary {
  background-color: #3498db;
}
.badge.danger {
  background-color: #e74c3c;
}
.badge.warning {
  background-color: #f39c12;
}
.badge.info {
  background-color: #24cabc;
}
.btn > .badge {
  margin-left: 6px;
  margin-left: 0.375rem;
}
.btn-primary > .badge,
.btn-success > .badge,
.btn-warning > .badge,
.btn-info > .badge,
.btn-danger > .badge,
.list-group-element.active > .badge {
  background-color: #ffffff;
  text-shadow: none;
}
.list-group-element.active > .badge {
  color: #24cabc;
}
.btn-primary > .badge {
  color: #3498db;
}
.btn-success > .badge {
  color: #2ecc71;
}
.btn-info > .badge {
  color: #24cabc;
}
.btn-warning > .badge {
  color: #f39c12;
}
.btn-danger > .badge {
  color: #e74c3c;
}
.btn-label {
  vertical-align: middle;
  display: inline-block;
  padding: 0.025rem .25rem;
  background-color: #777777;
  color: #ffffff;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  border: 1px solid rgba(0, 0, 0, 0.25);
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.15);
  font-size: 12px;
  font-size: 0.75rem;
  margin: .5rem 0;
}
.btn-label.primary {
  background-color: #3498db;
  color: #ffffff;
}
.btn-label.success {
  background-color: #2ecc71;
  color: #ffffff;
}
.btn-label.danger {
  background-color: #e74c3c;
  color: #ffffff;
}
.btn-label.info {
  background-color: #24cabc;
  color: #ffffff;
}
.btn-label.warning {
  background-color: #f39c12;
  color: #ffffff;
}
/*! normalize.css v3.0.1 | MIT License | git.io/normalize */
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden],
template {
  display: none;
}
a {
  background: transparent;
}
a:active,
a:hover {
  outline: 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
dfn {
  font-style: italic;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
mark {
  background: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 1em 40px;
}
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}
pre {
  overflow: auto;
}
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
/* Forms
   ========================================================================== */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}
button {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
}
optgroup {
  font-weight: bold;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0;
}
.no-mgb {
  margin-bottom: 0;
}
.no-mgt {
  margin-top: 0;
}
.mrg-b {
  margin-bottom: 1rem;
}
.is-disabled {
  pointer-events: none;
  opacity: .45;
  cursor: not-allowed;
}
.left-float {
  float: left;
}
.right-float {
  float: right;
}
.center-float {
  margin-left: auto;
  margin-right: auto;
}
.no-float {
  float: none;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}
.text-justified {
  text-align: justify;
}
.hide-text {
  font: 0/0;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.font-xs {
  font-size: 12px;
  font-size: 0.75rem;
}
.font-sm {
  font-size: 14px;
  font-size: 0.875rem;
}
.font-lg {
  font-size: 20px;
  font-size: 1.25rem;
}
.font-xl {
  font-size: 24px;
  font-size: 1.5rem;
}
.font-sm {
  font-size: 0.875rem;
}
.b-c-eee {
  color: #eeeeee;
}
@media screen and (min-width: 75rem) {
  .desktop-hidden {
    visibility: hidden!important;
    display: none!important;
  }
}
@media screen and (min-width: 48rem) and (max-width: 61.1875rem) {
  .tablet-hidden {
    visibility: hidden!important;
    display: none!important;
  }
}
@media screen and (max-width: 47.9375rem) {
  .mobile-hidden {
    visibility: hidden!important;
    display: none!important;
  }
}
@media screen and (max-width: 47.9375rem) {
  .show-mobile {
    visibility: visible;
    display: block!important;
  }
}
.hide {
  visibility: hidden;
  display: none;
  opacity: 0;
  -webkit-transition: opacity 0.45s linear;
  -moz-transition: opacity 0.45s linear;
  transition: opacity 0.45s linear;
}
.fade {
  opacity: 0;
  -webkit-transition: opacity 0.45s linear;
  -moz-transition: opacity 0.45s linear;
  transition: opacity 0.45s linear;
}
@media screen and (max-width: 47.9375rem) {
  .fade {
    opacity: 1;
  }
}
.fade.in {
  opacity: 1;
}
.has-success {
  color: #2ecc71;
}
.has-primary {
  color: #3498db;
}
.has-info {
  color: #24cabc;
}
.has-warning {
  color: #f39c12;
}
.has-danger {
  color: #e74c3c;
}
.fade {
  opacity: 0;
}
@media screen and (max-width: 47.9375rem) {
  .fade {
    opacity: 0;
  }
}
.animate {
  opacity: 1;
}
.first {
  animation-delay: .25s!important;
  -webkit-animation-delay: .25s!important;
}
@media screen and (max-width: 47.9375rem) {
  .first {
    display: none;
    animation-delay: 0s!important;
    -webkit-animation-delay: 0s!important;
  }
}
.second {
  animation-delay: .75s!important;
  -webkit-animation-delay: .75s!important;
}
@media screen and (max-width: 47.9375rem) {
  .second {
    display: none;
    animation-delay: 0s!important;
    -webkit-animation-delay: 0s!important;
  }
}
.third {
  animation-delay: 1.25s!important;
  -webkit-animation-delay: 1.25s!important;
}
@media screen and (max-width: 47.9375rem) {
  .third {
    display: none;
    animation-delay: 0s!important;
    -webkit-animation-delay: 0s!important;
  }
}
.a-is-danger {
  color: #d62c1a;
  border-color: #e74c3c;
  background-color: #fef5f4;
}
.a-is-info {
  color: #1c9f94;
  border-color: #24cabc;
  background-color: #f7fefd;
}
.a-is-warning {
  color: #c87f0a;
  border-color: #f39c12;
  background-color: #fef6ea;
}
.a-is-primary {
  color: #217dbb;
  border-color: #3498db;
  background-color: #f5fafd;
}
.f-is-success {
  border-color: #2ecc71;
}
.f-is-primary {
  border-color: #3498db;
}
.f-is-danger {
  border-color: #e74c3c;
}
.f-is-warning {
  border-color: #f39c12;
}
.f-is-info {
  border-color: #24cabc;
}
.docs.nav {
  position: relative;
  top: 0;
  background-color: #24cabc;
  padding: 1rem 0;
}
@media screen and (max-width: 47.9375rem) {
  .docs.nav {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1090;
  }
}
.docs.nav .brand > a {
  text-decoration: none;
  color: #ffffff;
  float: left;
  font-size: 24px;
  font-size: 1.5rem;
  letter-spacing: -0.04rem;
  font-weight: 800;
  border: none;
  padding: 0.45rem 0;
}
.docs nav a {
  text-decoration: none;
  display: inline-block;
  color: rgba(255, 255, 255, 0.7);
  padding: 1rem 2rem;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  float: left;
  font-weight: 700;
  border: none;
}
.docs nav a:hover {
  color: #ffffff;
  text-decoration: none;
  background-color: transparent;
  border: none;
}
.docs nav a.active {
  color: #ffffff;
}
.docs.nav > li > a {
  display: block;
  display: inline-block;
  position: relative;
  float: left;
}
.nav {
  position: relative;
  top: 0;
  background-color: #ffffff;
}
.brand > a {
  text-decoration: none;
  color: #333333;
  padding: 0.5rem 0;
  float: left;
}
.brand > a:hover {
  text-decoration: none;
  color: #3498db;
}
nav a {
  text-decoration: none;
  color: #777777;
  padding: 0.5rem 0.875rem;
  display: inline-block;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
}
nav a:hover {
  background-color: #f9f9f9;
  text-decoration: none;
  color: #3498db;
}
.nav {
  padding-left: 0;
}
.nav > li > a {
  display: block;
  display: inline-block;
  padding: 0.5rem 0.875rem;
  position: relative;
  float: left;
}
.nav > a.btn--default-outline,
.nav > a.default-outline {
  color: #777777;
  background-color: transparent;
  border-color: #cccccc;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.nav > a.btn--default-outline:hover,
.nav > a.default-outline:hover {
  background-color: rgba(0, 0, 0, 0);
  border-color: #bfbfbf;
}
.nav > a.btn--default-outline:active,
.nav > a.default-outline:active {
  color: #777777;
  background-color: rgba(0, 0, 0, 0);
  border-color: #b6b6b6;
  -webkit-box-shadow: inset 0px 2px 6px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: inset 0px 2px 6px rgba(0, 0, 0, 0.25);
  box-shadow: inset 0px 2px 6px rgba(0, 0, 0, 0.25);
  outline: 0;
}
.nav > a.btn--default-outline:hover,
.nav > a.default-outline:hover {
  border-color: #777777;
  color: #ffffff;
  background-color: #777777;
}
.nav > a.btn--default-outline:active,
.nav > a.default-outline:active {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.nav > li > a.btn--primary-outline,
.nav > li > a.primary-outline {
  color: #3498db;
  background-color: transparent;
  border-color: #3498db;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.nav > li > a.btn--primary-outline:hover,
.nav > li > a.primary-outline:hover {
  background-color: rgba(0, 0, 0, 0);
  border-color: #258cd1;
}
.nav > li > a.btn--primary-outline:active,
.nav > li > a.primary-outline:active {
  color: #3498db;
  background-color: rgba(0, 0, 0, 0);
  border-color: #2282c1;
  -webkit-box-shadow: inset 0px 2px 6px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: inset 0px 2px 6px rgba(0, 0, 0, 0.25);
  box-shadow: inset 0px 2px 6px rgba(0, 0, 0, 0.25);
  outline: 0;
}
.nav > li > a.btn--primary-outline:hover,
.nav > li > a.primary-outline:hover {
  border-color: #3498db;
  color: #ffffff;
  background-color: #3498db;
}
.nav > li > a.btn--primary-outline:active,
.nav > li > a.primary-outline:active {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.nav > li > a.btn--danger-outline,
.nav > li > a.danger-outline {
  color: #e74c3c;
  background-color: transparent;
  border-color: #e74c3c;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.nav > li > a.btn--danger-outline:hover,
.nav > li > a.danger-outline:hover {
  background-color: rgba(0, 0, 0, 0);
  border-color: #e43725;
}
.nav > li > a.btn--danger-outline:active,
.nav > li > a.danger-outline:active {
  color: #e74c3c;
  background-color: rgba(0, 0, 0, 0);
  border-color: #dd2d1b;
  -webkit-box-shadow: inset 0px 2px 6px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: inset 0px 2px 6px rgba(0, 0, 0, 0.25);
  box-shadow: inset 0px 2px 6px rgba(0, 0, 0, 0.25);
  outline: 0;
}
.nav > li > a.btn--danger-outline:hover,
.nav > li > a.danger-outline:hover {
  border-color: #e74c3c;
  color: #ffffff;
  background-color: #e74c3c;
}
.nav > li > a.btn--danger-outline:active,
.nav > li > a.danger-outline:active {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.nav > li > a.btn--info-outline,
.nav > li > a.info-outline {
  color: #24cabc;
  background-color: transparent;
  border-color: #24cabc;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.nav > li > a.btn--info-outline:hover,
.nav > li > a.info-outline:hover {
  background-color: rgba(0, 0, 0, 0);
  border-color: #20b4a8;
}
.nav > li > a.btn--info-outline:active,
.nav > li > a.info-outline:active {
  color: #24cabc;
  background-color: rgba(0, 0, 0, 0);
  border-color: #1da59a;
  -webkit-box-shadow: inset 0px 2px 6px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: inset 0px 2px 6px rgba(0, 0, 0, 0.25);
  box-shadow: inset 0px 2px 6px rgba(0, 0, 0, 0.25);
  outline: 0;
}
.nav > li > a.btn--info-outline:hover,
.nav > li > a.info-outline:hover {
  border-color: #24cabc;
  color: #ffffff;
  background-color: #24cabc;
}
.nav > li > a.btn--info-outline:active,
.nav > li > a.info-outline:active {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.nav > li > a.btn--warning-outline,
.nav > li > a.warning-outline {
  color: #f39c12;
  background-color: transparent;
  border-color: #f39c12;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.nav > li > a.btn--warning-outline:hover,
.nav > li > a.warning-outline:hover {
  background-color: rgba(0, 0, 0, 0);
  border-color: #e08e0b;
}
.nav > li > a.btn--warning-outline:active,
.nav > li > a.warning-outline:active {
  color: #f39c12;
  background-color: rgba(0, 0, 0, 0);
  border-color: #cf830a;
  -webkit-box-shadow: inset 0px 2px 6px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: inset 0px 2px 6px rgba(0, 0, 0, 0.25);
  box-shadow: inset 0px 2px 6px rgba(0, 0, 0, 0.25);
  outline: 0;
}
.nav > li > a.btn--warning-outline:hover,
.nav > li > a.warning-outline:hover {
  border-color: #f39c12;
  color: #ffffff;
  background-color: #f39c12;
}
.nav > li > a.btn--warning-outline:active,
.nav > li > a.warning-outline:active {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.nav > li > a.btn--success-outline,
.nav > li > a.success-outline {
  color: #2ecc71;
  background-color: transparent;
  border-color: #2ecc71;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.nav > li > a.btn--success-outline:hover,
.nav > li > a.success-outline:hover {
  background-color: rgba(0, 0, 0, 0);
  border-color: #29b765;
}
.nav > li > a.btn--success-outline:active,
.nav > li > a.success-outline:active {
  color: #2ecc71;
  background-color: rgba(0, 0, 0, 0);
  border-color: #26a95d;
  -webkit-box-shadow: inset 0px 2px 6px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: inset 0px 2px 6px rgba(0, 0, 0, 0.25);
  box-shadow: inset 0px 2px 6px rgba(0, 0, 0, 0.25);
  outline: 0;
}
.nav > li > a.btn--success-outline:hover,
.nav > li > a.success-outline:hover {
  border-color: #2ecc71;
  color: #ffffff;
  background-color: #2ecc71;
}
.nav > li > a.btn--success-outline:active,
.nav > li > a.success-outline:active {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.nav > li > a:hover.btn--default,
.nav > li > a:hover.btn--primary,
.nav > li > a:hover.btn--info,
.nav > li > a:hover.btn--success,
.nav > li > a:hover.btn--danger,
.nav > li > a:hover.btn--warning {
  color: #ffffff;
}
.nav > li > a:hover,
.nav > li > a:focus {
  text-decoration: none;
  color: #3498db;
}
.pill-nav > li > a {
  display: inline-block;
  float: left;
  padding: 0.5rem 0.875rem;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
  position: relative;
}
.pill-nav > li > a:hover,
.pill-nav > li > a:focus {
  text-decoration: none;
  background-color: #f9f9f9;
}
.pill-nav li,
.pill-nav > li + li {
  display: inline-block;
  margin-right: 4px;
  margin-right: 0.25rem;
}
.pill-nav > li > a.active {
  background-color: #3498db;
  color: #ffffff;
}
.pill-nav > li > a.active:hover {
  background-color: #258cd1;
}
.pill-nav > li > a.active:active {
  -webkit-box-shadow: inset 0px 3px 6px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: inset 0px 3px 6px rgba(0, 0, 0, 0.25);
  box-shadow: inset 0px 3px 6px rgba(0, 0, 0, 0.25);
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  transition: all 0.25s ease;
  outline: 0;
}
.list-group {
  display: block;
  position: relative;
  padding-left: 0;
}
a.list-group-element,
.list-group > li {
  display: block;
  margin-bottom: -1px;
  border: 1px solid #dddddd;
  color: #777777;
  text-decoration: none;
  background-color: #ffffff;
  padding: 0.75rem 0.75rem;
}
a:hover.list-group-element {
  text-decoration: none;
  background-color: #eeeeee;
  color: #555555;
}
.list-group-element.active,
a:hover.list-group-element.active {
  background-color: #24cabc;
  color: #ffffff;
  border-color: #24cabc;
}
.list-group-element:first-child {
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
}
.list-group-element:last-child {
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
}
